<a href="https://colab.research.google.com/github/P9169/EDA/blob/main/Copy_of_GlobalTerrorismDataset_Purnima.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Project Name**    - Global Terrorism Dataset

##### **Project Type**    - EDA
##### **Contribution**    - Team
##### Team Member 1 -Purnima Pandey
##### Team Membaer 2 -Ajay Kumar Singh

# **Project Summary -**
Terrorism is characterized by the use of violence against civilians, with the expressed desire of causing terror or panic in the population. Terrorism is not unique to the 20th and 21st centuries.
Terrorism existed in 18th century revolutionary France during the reign of terror,as well as among the Zealots of Palestine in opposition to Roman rule some 2000 years ago. Today, terrorist activity can be found in Israel, Indonesia, United Kingdom, Sri Lanka, Colombia, and the United States, to name a few of particular concern here are the September 11 suicide attacks against the World Trade Center and the Pentagon and the attempted attack that resulted in the plane crash in Pennsylvania.

# **GitHub Link -**

Provide your GitHub Link here.

# **Problem Statement**



The problem is to analyze the Global Terrorism dataset and understand why terrorist attacks have shifted towards urban centers and targeted soft civilian targets.
roblem Statement
The problem is to analyze the Global Terrorism dataset and understand why terrorist attacks have shifted towards urban centers and targeted soft civilian targets.

1- What are the regions with the highest number of terrorist incidents in the Global Terrorism Dataset?

02-How has the frequency of terrorist attacks changed over the past decade?

03-What are the most common types of terrorist attacks recorded in the dataset?

04-Which terrorist groups have been responsible for the largest number of casualties?

05-Are there any significant seasonal patterns in terrorist incidents?

06-What are the primary targets of terrorist attacks, and have they shifted over time?

07-How does the number of terrorist incidents vary between developed and developing countries?

08-Which countries have experienced the most significant increase or decrease in terrorism in recent years?

09-Is there a correlation between socio-economic factors and the occurrence of terrorist incidents?

10-What is the distribution of suicide attacks across different regions and years?

Are there any trends or patterns in the weapons used in terrorist attacks?

11-How do terrorist incidents differ based on the motivation behind the attacks (e.g., political, religious, ideological)?

12-What is the relationship between terrorism and armed conflicts in different regions?

13-How effective have counterterrorism measures been in reducing the frequency of attacks?

14-Are there any gender-specific patterns in terrorist incidents, either as perpetrators or victims?

15-What is the demographic profile of individuals involved in terrorist activities?

16-How do terrorist attack patterns differ in urban versus rural areas?

17-What are the most targeted industries or sectors by terrorist groups?

18-How have international terrorist incidents evolved over time, and which regions are most affected?

19-What is the impact of terrorist attacks on the economy and tourism of affected regions?

20-Are there any significant cross-border connections between different terrorist groups?

21-How has social media usage influenced the spread and organization of terrorist activities?

22-What is the role of ideological propaganda in recruiting individuals into terrorist organizations?

23-How have global counterterrorism efforts and international collaborations impacted terrorism trends?

24-What are the potential factors contributing to the rise of lone-wolf terrorist attacks?

25-These problem statement questions can serve as a starting point for conducting in-depth analyses and gaining valuable insights from the Global Terrorism Dataset. Depending on the scope and goals of the analysis, additional questions and hypotheses can be formulated to further explore the dataset's complexities and nuances.

#### **Define Your Business Objective?**



The business objective is to perform exploratory data analysis on the dataset, visualizing data features related to types of attacks, highly sensitive areas, and attack frequencies, in order to identify valuable conclusions and insights regarding global terrorism trends.Answer Here.

# **General Guidelines** : -

1.   Well-structured, formatted, and commented code is required.
2.   Exception Handling, Production Grade Code & Deployment Ready Code will be a plus. Those students will be awarded some additional credits.
     
     The additional credits will have advantages over other students during Star Student selection.
       
             [ Note: - Deployment Ready Code is defined as, the whole .ipynb notebook should be executable in one go
                       without a single error logged. ]

3.   Each and every logic should have proper comments.
4. You may add as many number of charts you want. Make Sure for each and every chart the following format should be answered.
        

```
# Chart visualization code
```
            

*   Why did you pick the specific chart?
*   What is/are the insight(s) found from the chart?
* Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

5. You have to create at least 20 logical & meaningful charts having important insights.


[ Hints : - Do the Vizualization in  a structured way while following "UBM" Rule.

U - Univariate Analysis,

B - Bivariate Analysis (Numerical - Categorical, Numerical - Numerical, Categorical - Categorical)

M - Multivariate Analysis
 ]

# ***Let's Begin !***

## ***1. Know Your Data***

### Import Libraries

In [12]:
# Import Libraries
import pandas as pd
import numpy as np

### Dataset Loading

In [13]:
# Load Dataset
from google.colab import drive
drive.mount('/content/drive')

url='/content/drive/MyDrive/Colab Notebooks/Global Terrorism  EDA/Global Terrorism Data.csv'
df= pd.read_csv(url,encoding='Latin-1')
df

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

<ipython-input-13-337d9cc1eee3>:6: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv(url,encoding='Latin-1')

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
181686,201712310022,2017,12,31,NaN,0,NaN,182,Somalia,11,...,NaN,"""Somalia: Al-Shabaab Militants Attack Army Che...","""Highlights: Somalia Daily Media Highlights 2 ...","""Highlights: Somalia Daily Media Highlights 1 ...",START Primary Collection,0,0,0,0,NaN
181687,201712310029,2017,12,31,NaN,0,NaN,200,Syria,10,...,NaN,"""Putin's 'victory' in Syria has turned into a ...","""Two Russian soldiers killed at Hmeymim base i...","""Two Russian servicemen killed in Syria mortar...",START Primary Collection,-9,-9,1,1,NaN
181688,201712310030,2017,12,31,NaN,0,NaN,160,Philippines,5,...,NaN,"""Maguindanao clashes trap tribe members,"" Phil...",NaN,NaN,START Primary Collection,0,0,0,0,NaN
181689,201712310031,2017,12,31,NaN,0,NaN,92,India,6,...,NaN,"""Trader escapes grenade attack in Imphal,"" Bus...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
181690,201712310032,2017,12,31,NaN,0,NaN,160,Philippines,5,...,NaN,"""Security tightened in Cotabato following IED ...","""Security tightened in Cotabato City,"" Manila ...",NaN,START Primary Collection,-9,-9,0,-9,NaN

In [14]:
df.rename(columns ={'iyear':'Year','imonth':'Month','iday':'Day','country_txt':'Country','provstate':'State','region_txt':'Region',
                        'city':'City','latitude':'Latitude','longitude':'Longitude','attacktype1':'AttackType','nkill':'Killed',
                        'nwound':'Wounded','target1':'Target','summary':'Summary','gname':'Group','targtype1_txt':'Target_type',
                        'weaptype1_txt':'Weapon_type','weapdetail':'Weapon_Detail','success':'Success','targsubtype1_txt':'Sub_Target',
                        'natlty1_txt':'Nationality','multiple':'Multiple'},inplace=True)

In [ ]:
# 'Year','Month','Day','Country','state','Region','city','latitude','longitude','AttackType','Killed','Wounded','Target','Summary','Group','Target_type','Weapon_type','Motive'

In [16]:
gtd_df= df[['Year','Month','Day','Country','State','Region','City','Latitude','Longitude','AttackType','Killed',
               'Wounded','Target','Summary','Group','Target_type','Weapon_type','Weapon_Detail','Success','Sub_Target','Nationality','Multiple']]

### Dataset First View

In [18]:
# Dataset First Look
# gtd_df
pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns',None)
print("top 5 rows of the dataframe: ")
gtd_df.head()

top 5 rows of the dataframe:

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type,Weapon_Detail,Success,Sub_Target,Nationality,Multiple
0,1970,7,2,Dominican Republic,NaN,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,1,1.0,0.0,Julio Guzman,NaN,MANO-D,Private Citizens & Property,Unknown,NaN,1,Named Civilian,Dominican Republic,0.0
1,1970,0,0,Mexico,Federal,North America,Mexico city,19.371887,-99.086624,6,0.0,0.0,"Nadine Chaval, daughter",NaN,23rd of September Communist League,Government (Diplomatic),Unknown,NaN,1,"Diplomatic Personnel (outside of embassy, cons...",Belgium,0.0
2,1970,1,0,Philippines,Tarlac,Southeast Asia,Unknown,15.478598,120.599741,1,1.0,0.0,Employee,NaN,Unknown,Journalists & Media,Unknown,NaN,1,Radio Journalist/Staff/Facility,United States,0.0
3,1970,1,0,Greece,Attica,Western Europe,Athens,37.997490,23.762728,3,NaN,NaN,U.S. Embassy,NaN,Unknown,Government (Diplomatic),Explosives,Explosive,1,Embassy/Consulate,United States,0.0
4,1970,1,0,Japan,Fukouka,East Asia,Fukouka,33.580412,130.396361,7,NaN,NaN,U.S. Consulate,NaN,Unknown,Government (Diplomatic),Incendiary,Incendiary,1,Embassy/Consulate,United States,0.0

In [ ]:
gtd_df
print("last 5 rows of the dataframe: ")
gtd_df.tail()

last 5 rows of the dataframe:

,Year,Month,Day,Country,state,Region,city,latitude,longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type,Motive
181686,2017,12,31,Somalia,Middle Shebelle,Sub-Saharan Africa,Ceelka Geelow,2.359673,45.385034,2,1.0,2.0,Checkpoint,12/31/2017: Assailants opened fire on a Somali...,Al-Shabaab,Military,Firearms,NaN
181687,2017,12,31,Syria,Lattakia,Middle East & North Africa,Jableh,35.407278,35.942679,3,2.0,7.0,Hmeymim Air Base,12/31/2017: Assailants launched mortars at the...,Muslim extremists,Military,Explosives,NaN
181688,2017,12,31,Philippines,Maguindanao,Southeast Asia,Kubentog,6.900742,124.437908,7,0.0,0.0,Houses,12/31/2017: Assailants set fire to houses in K...,Bangsamoro Islamic Freedom Movement (BIFM),Private Citizens & Property,Incendiary,NaN
181689,2017,12,31,India,Manipur,South Asia,Imphal,24.798346,93.940430,3,0.0,0.0,Office,12/31/2017: Assailants threw a grenade at a Fo...,Unknown,Government (General),Explosives,NaN
181690,2017,12,31,Philippines,Maguindanao,Southeast Asia,Cotabato City,7.209594,124.241966,3,0.0,0.0,Unknown,12/31/2017: An explosive device was discovered...,Unknown,Unknown,Explosives,NaN

### Dataset Rows & Columns count

In [ ]:
# Dataset Rows & Columns count

In [19]:
num_rows, num_columns = gtd_df.shape

print("Number of rows:", num_rows)
print("Number of columns:", num_columns)

Number of rows: 181691
Number of columns: 22

### Dataset Information

In [20]:
# Dataset Info
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
column_info = pd.DataFrame(gtd_df.dtypes).reset_index()
column_info.columns = ['Column Name', 'Data Type']
column_info['Non-Null Count'] = gtd_df.count().values
print(column_info)
# gtd_df.info()

      Column Name Data Type  Non-Null Count
0            Year     int64          181691
1           Month     int64          181691
2             Day     int64          181691
3         Country    object          181691
4           State    object          181270
5          Region    object          181691
6            City    object          181257
7        Latitude   float64          177135
8       Longitude   float64          177134
9      AttackType     int64          181691
10         Killed   float64          171378
11        Wounded   float64          165380
12         Target    object          181055
13        Summary    object          115562
14          Group    object          181691
15    Target_type    object          181691
16    Weapon_type    object          181691
17  Weapon_Detail    object          114021
18        Success     int64          181691
19     Sub_Target    object          171318
20    Nationality    object          180132
21       Multiple   float64          181690

#### Duplicate Values

In [21]:
gtd_df.columns

Index(['Year', 'Month', 'Day', 'Country', 'State', 'Region', 'City',
       'Latitude', 'Longitude', 'AttackType', 'Killed', 'Wounded', 'Target',
       'Summary', 'Group', 'Target_type', 'Weapon_type', 'Weapon_Detail',
       'Success', 'Sub_Target', 'Nationality', 'Multiple'],
      dtype='object')

In [24]:
# Dataset Duplicate Value Count
duplicate_value = gtd_df.duplicated().sum()
# duplicate_value
# print(duplicate_value)
print("number of duplicate value:", duplicate_value)

number of duplicate value: 9328

#### Missing Values/Null Values

In [30]:
# Missing Values/Null Values Count
print(gtd_df.isnull().sum())
misscount = gtd_df.isnull().sum().sum()
print(misscount)

Year                 0
Month                0
Day                  0
Country              0
State              421
Region               0
City               434
Latitude          4556
Longitude         4557
AttackType           0
Killed           10313
Wounded          16311
Target             636
Summary          66129
Group                0
Target_type          0
Weapon_type          0
Weapon_Detail    67670
Success              0
Sub_Target       10373
Nationality       1559
Multiple             1
dtype: int64
182960

In [ ]:
# Visualizing the missing values

### What did you know about your dataset?

Answer Here

## ***2. Understanding Your Variables***

In [ ]:
# Dataset Columns
print("Column list:")
print(gtd_df.columns)

Column list:
Index(['Year', 'Month', 'Day', 'Country', 'state', 'Region', 'city',
       'latitude', 'longitude', 'AttackType', 'Killed', 'Wounded', 'Target',
       'Summary', 'Group', 'Target_type', 'Weapon_type', 'Motive'],
      dtype='object')

In [ ]:
# Dataset Describe
gtd_df.describe()

,Year,Month,Day,latitude,longitude,AttackType,Killed,Wounded
count,181691.000000,181691.000000,181691.000000,177135.000000,1.771340e+05,181691.000000,171378.000000,165380.000000
mean,2002.638997,6.467277,15.505644,23.498343,-4.586957e+02,3.247547,2.403272,3.167668
std,13.259430,3.388303,8.814045,18.569242,2.047790e+05,1.915772,11.545741,35.949392
min,1970.000000,0.000000,0.000000,-53.154613,-8.618590e+07,1.000000,0.000000,0.000000
25%,1991.000000,4.000000,8.000000,11.510046,4.545640e+00,2.000000,0.000000,0.000000
50%,2009.000000,6.000000,15.000000,31.467463,4.324651e+01,3.000000,0.000000,0.000000
75%,2014.000000,9.000000,23.000000,34.685087,6.871033e+01,3.000000,2.000000,2.000000
max,2017.000000,12.000000,31.000000,74.633553,1.793667e+02,9.000000,1570.000000,8191.000000

### Variables Description

Answer Here

### Check Unique Values for each variable.

In [ ]:
# Check Unique Values for each variable.
gtd_df.nunique()

Year               47
Month              13
Day                32
Country           205
state            2855
Region             12
city            36674
latitude        48322
longitude       48039
AttackType          9
Killed            205
Wounded           238
Target          86006
Summary        112492
Group            3537
Target_type        22
Weapon_type        12
Motive          14490
dtype: int64

In [31]:
gtd_df['Day'].unique()

array([ 2,  0,  1,  3,  6,  8,  9, 10, 11, 12, 13, 14, 15, 19, 20, 21, 22,
       25, 26, 27, 28, 30, 31,  4,  7, 16, 17, 18, 23, 24,  5, 29])

In [32]:
gtd_df['Month'].unique()

array([ 7,  0,  1,  2,  3,  4,  5,  6,  8,  9, 10, 11, 12])

In [33]:
gtd_df['Country'].unique()

array(['Dominican Republic', 'Mexico', 'Philippines', 'Greece', 'Japan',
       'United States', 'Uruguay', 'Italy', 'East Germany (GDR)',
       'Ethiopia', 'Guatemala', 'Venezuela', 'West Germany (FRG)',
       'Switzerland', 'Jordan', 'Spain', 'Brazil', 'Egypt', 'Argentina',
       'Lebanon', 'Ireland', 'Turkey', 'Paraguay', 'Iran',
       'United Kingdom', 'Colombia', 'Bolivia', 'Nicaragua',
       'Netherlands', 'Belgium', 'Canada', 'Australia', 'Pakistan',
       'Zambia', 'Sweden', 'Costa Rica', 'South Yemen', 'Cambodia',
       'Israel', 'Poland', 'Taiwan', 'Panama', 'Kuwait',
       'West Bank and Gaza Strip', 'Austria', 'Czechoslovakia', 'India',
       'France', 'South Vietnam', 'Brunei', 'Zaire',
       "People's Republic of the Congo", 'Portugal', 'Algeria',
       'El Salvador', 'Thailand', 'Haiti', 'Sudan', 'Morocco', 'Cyprus',
       'Myanmar', 'Afghanistan', 'Peru', 'Chile', 'Honduras',
       'Yugoslavia', 'Ecuador', 'New Zealand', 'Malaysia', 'Singapore',
       'Botswana', 'Jamaica', 'Chad', 'North Yemen', 'Andorra', 'Syria',
       'South Korea', 'United Arab Emirates', 'South Africa', 'Kenya',
       'Iraq', 'Somalia', 'Tanzania', 'Sri Lanka', 'Namibia', 'Bahamas',
       'Nigeria', 'Barbados', 'Trinidad and Tobago', 'Bangladesh',
       'Angola', 'Mauritania', 'Saudi Arabia', 'Djibouti', 'Indonesia',
       'Malta', 'Rhodesia', 'Soviet Union', 'Denmark', 'Western Sahara',
       'Guyana', 'Mozambique', 'Tunisia', 'Uganda', 'Norway', 'Lesotho',
       'Gabon', 'Libya', 'Bahrain', 'Hong Kong', 'Senegal', 'Zimbabwe',
       'Guinea', 'Grenada', 'New Hebrides', 'Belize', 'Guadeloupe',
       'Martinique', 'Vatican City', 'Albania',
       'Central African Republic', 'Seychelles', 'Dominica', 'Qatar',
       'Bulgaria', 'Suriname', 'Swaziland', 'Luxembourg', 'Iceland',
       'French Guiana', 'Falkland Islands', 'Burkina Faso',
       'New Caledonia', 'Romania', 'Niger', 'Nepal', 'Togo', 'Finland',
       'Fiji', 'Ghana', 'Maldives', 'Mauritius', 'Hungary', 'Laos',
       'Papua New Guinea', 'China', 'Liberia', 'Republic of the Congo',
       'Mali', 'Germany', 'Yemen', 'Rwanda', 'Sierra Leone', 'Cameroon',
       'Cuba', 'Croatia', 'Georgia', 'Azerbaijan', 'Madagascar',
       'Lithuania', 'Burundi', 'Ukraine', 'Moldova', 'Armenia', 'Russia',
       'Ivory Coast', 'Kazakhstan', 'Antigua and Barbuda',
       'Bosnia-Herzegovina', 'Equatorial Guinea', 'Tajikistan', 'Malawi',
       'Uzbekistan', 'Latvia', 'Estonia', 'Vietnam', 'Comoros', 'Benin',
       'Slovak Republic', 'Macedonia', 'Wallis and Futuna', 'Belarus',
       'Czech Republic', 'Slovenia', 'Gambia', 'North Korea', 'Eritrea',
       'St. Kitts and Nevis', 'French Polynesia', 'Macau', 'Kyrgyzstan',
       'Vanuatu', 'Democratic Republic of the Congo', 'Kosovo',
       'Solomon Islands', 'East Timor', 'St. Lucia', 'Guinea-Bissau',
       'Montenegro', 'International', 'Turkmenistan', 'Serbia-Montenegro',
       'Bhutan', 'Serbia', 'South Sudan'], dtype=object)

In [34]:
gtd_df['Region'].unique()

array(['Central America & Caribbean', 'North America', 'Southeast Asia',
       'Western Europe', 'East Asia', 'South America', 'Eastern Europe',
       'Sub-Saharan Africa', 'Middle East & North Africa',
       'Australasia & Oceania', 'South Asia', 'Central Asia'],
      dtype=object)

In [36]:
gtd_df['AttackType'].unique()

array([1, 6, 3, 7, 2, 4, 9, 8, 5])

In [37]:
gtd_df['Target_type'].unique()

array(['Private Citizens & Property', 'Government (Diplomatic)',
       'Journalists & Media', 'Police', 'Utilities', 'Military',
       'Government (General)', 'Airports & Aircraft', 'Business',
       'Educational Institution', 'Violent Political Party',
       'Religious Figures/Institutions', 'Unknown', 'Transportation',
       'Tourists', 'NGO', 'Telecommunication', 'Food or Water Supply',
       'Terrorists/Non-State Militia', 'Other', 'Maritime',
       'Abortion Related'], dtype=object)

In [39]:
gtd_df['Weapon_type'].unique()

array(['Unknown', 'Explosives', 'Incendiary', 'Firearms', 'Chemical',
       'Melee', 'Sabotage Equipment',
       'Vehicle (not to include vehicle-borne explosives, i.e., car or truck bombs)',
       'Fake Weapons', 'Radiological', 'Other', 'Biological'],
      dtype=object)

In [40]:
gtd_df['Success'].unique()

array([1, 0])

In [41]:
gtd_df['Nationality'].unique()

array(['Dominican Republic', 'Belgium', 'United States', 'Uruguay',
       'Germany', 'Great Britain', 'Venezuela', 'Puerto Rico', 'Israel',
       'Austria', 'Switzerland', 'Jordan', 'Ethiopia', 'Spain', nan,
       'Japan', 'International', 'Egypt', 'Paraguay', 'Soviet Union',
       'Ireland', 'Argentina', 'Philippines', 'China',
       'West Bank and Gaza Strip', 'Multinational', 'Northern Ireland',
       'Brazil', 'Haiti', 'South Africa', 'Portugal', 'Colombia',
       'Greece', 'Nicaragua', 'Indonesia', 'Yugoslavia', 'Italy',
       'Rhodesia', 'Ivory Coast', 'Iran', 'Canada', 'Poland', 'Sweden',
       'Turkey', 'Costa Rica', 'Russia', 'Iraq', 'Cuba', 'France',
       'Malawi', 'Democratic Republic of the Congo', 'Netherlands',
       'Chile', 'Hong Kong', 'Yemen', 'Mexico', 'Syria', 'India',
       'New Zealand', 'Senegal', 'Algeria', 'Peru', 'Czechoslovakia',
       'Saudi Arabia', 'Denmark', 'West Germany (FRG)', 'Bahamas',
       'Bolivia', 'El Salvador', 'Botswana', 'Guatemala', 'Lebanon',
       'North Korea', 'Albania', 'South Korea', 'United Kingdom',
       'Pakistan', 'Kenya', 'Cyprus', 'Panama', 'Sri Lanka', 'Ecuador',
       'Malaysia', 'Morocco', 'Somalia', 'Nigeria', 'Namibia', 'Armenia',
       'Barbados', 'Kuwait', 'Mozambique', 'Guyana', 'Taiwan', 'Tunisia',
       'Myanmar', 'Trinidad and Tobago', 'Mauritania', 'Bulgaria',
       'Thailand', 'Bahrain', 'Finland', 'Vietnam',
       'United Arab Emirates', 'Malta', 'Australia', 'Zimbabwe', 'Zambia',
       'Angola', 'Norway', 'Jamaica', 'Uganda', 'Croatia', 'Lesotho',
       'Tanzania', 'Guinea', 'Fiji', 'Djibouti', 'Libya', 'Eritrea',
       'Afghanistan', 'Honduras', 'Zaire', 'Mali', 'Bangladesh',
       'Grenada', 'Vanuatu', 'Belize', 'North Yemen', 'Romania', 'Sudan',
       'Chad', 'Central African Republic', 'Liberia', 'Seychelles',
       'Dominica', "People's Republic of the Congo", 'Comoros',
       'Suriname', 'Vatican City', 'Lithuania', 'Guadeloupe',
       'Martinique', 'Western Sahara', 'Swaziland', 'Burkina Faso',
       'Man, Isle of', 'New Caledonia', 'Cambodia', 'Singapore',
       'Corsica', 'Luxembourg', 'Niger', 'Nepal', 'Hungary', 'Togo',
       'Iceland', 'Sinhalese', 'Ghana', 'Maldives', 'Mauritius',
       'Papua New Guinea', 'Qatar', 'Rwanda', 'Cameroon', 'Estonia',
       'Sierra Leone', 'Latvia', 'Greenland', 'Bosnia-Herzegovina',
       'Madagascar', 'Burundi', 'Azerbaijan', 'Kazakhstan', 'Georgia',
       'Antigua and Barbuda', 'Commonwealth of Independent States',
       'Ukraine', 'Moldova', 'Equatorial Guinea', 'Tajikistan', 'Laos',
       'Brunei', 'Uzbekistan', 'Serbia-Montenegro',
       'Republic of the Congo', 'Gabon', 'Slovak Republic', 'Macedonia',
       'Mongolia', 'Benin', 'Belarus', 'Oman', 'Czech Republic', 'Gambia',
       'Asian', 'Serbia', 'St. Kitts and Nevis', 'Kyrgyzstan', 'Macau',
       'Slovenia', 'French Guiana', 'East Timor', 'Kosovo',
       'Solomon Islands', 'St. Lucia', 'Guinea-Bissau', 'Montenegro',
       'Bhutan', 'Bermuda', 'St. Martin', 'South Sudan', 'Turkmenistan',
       'Saba (Netherlands Antilles)', 'Tuvalu', 'Virgin Islands (U.S.)',
       'Marshall Islands'], dtype=object)

In [42]:
gtd_df['Multiple'].unique()

array([ 0.,  1., nan])

In [47]:
gtd_df.shape
print(gtd_df.shape)
gtd_df.isnull().sum()

(172363, 22)

Year                 0
Month                0
Day                  0
Country              0
State              421
Region               0
City               434
Latitude          4013
Longitude         4014
AttackType           0
Killed            9448
Wounded          15284
Target             552
Summary          59221
Group                0
Target_type          0
Weapon_type          0
Weapon_Detail    65359
Success              0
Sub_Target        9465
Nationality       1443
Multiple             1
dtype: int64

## 3. ***Data Wrangling***

### Data Wrangling Code

In [43]:
gtd_df[gtd_df.duplicated()].shape

(9328, 22)

In [45]:
gtd_df.drop_duplicates(inplace=True)
gtd_df.shape

<ipython-input-45-9014d3d1762f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gtd_df.drop_duplicates(inplace=True)

(172363, 22)

In [48]:
gtd_df.isnull().sum()

Year                 0
Month                0
Day                  0
Country              0
State              421
Region               0
City               434
Latitude          4013
Longitude         4014
AttackType           0
Killed            9448
Wounded          15284
Target             552
Summary          59221
Group                0
Target_type          0
Weapon_type          0
Weapon_Detail    65359
Success              0
Sub_Target        9465
Nationality       1443
Multiple             1
dtype: int64

In [49]:
gtd_df=gtd_df.dropna()

In [50]:
gtd_df.isnull().sum()

Year             0
Month            0
Day              0
Country          0
State            0
Region           0
City             0
Latitude         0
Longitude        0
AttackType       0
Killed           0
Wounded          0
Target           0
Summary          0
Group            0
Target_type      0
Weapon_type      0
Weapon_Detail    0
Success          0
Sub_Target       0
Nationality      0
Multiple         0
dtype: int64

In [ ]:
# Write your code to make your dataset analysis ready.
gtd_df['Killed']=gtd_df['Killed'].astype('int64')
gtd_df['Wounded']=gtd_df['Wounded'].astype('int64')
gtd_df['Success']=gtd_df['Success'].astype('bool')
gtd_df['Multiple']=gtd_df['Multiple'].astype('bool')

### What all manipulations have you done and insights you found?

Answer Here.

## ***4. Data Vizualization, Storytelling & Experimenting with charts : Understand the relationships between variables***

#### Chart - 1

In [ ]:
# Chart - 1 visualization code

##### 1. Why did you pick the specific chart?

Answer Here.

##### 2. What is/are the insight(s) found from the chart?

Answer Here

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

Answer Here

#### Chart - 2

In [ ]:
# Chart - 2 visualization code

##### 1. Why did you pick the specific chart?

Answer Here.

##### 2. What is/are the insight(s) found from the chart?

Answer Here

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

Answer Here

#### Chart - 3

In [ ]:
# Chart - 3 visualization code

##### 1. Why did you pick the specific chart?

Answer Here.

##### 2. What is/are the insight(s) found from the chart?

Answer Here

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

Answer Here

#### Chart - 4

In [ ]:
# Chart - 4 visualization code

##### 1. Why did you pick the specific chart?

Answer Here.

##### 2. What is/are the insight(s) found from the chart?

Answer Here

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

Answer Here

#### Chart - 5

In [ ]:
# Chart - 5 visualization code

##### 1. Why did you pick the specific chart?

Answer Here.

##### 2. What is/are the insight(s) found from the chart?

Answer Here

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

Answer Here

#### Chart - 6

In [ ]:
# Chart - 6 visualization code

##### 1. Why did you pick the specific chart?

Answer Here.

##### 2. What is/are the insight(s) found from the chart?

Answer Here

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

Answer Here

#### Chart - 7

In [ ]:
# Chart - 7 visualization code

##### 1. Why did you pick the specific chart?

Answer Here.

##### 2. What is/are the insight(s) found from the chart?

Answer Here

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

Answer Here

#### Chart - 8

In [ ]:
# Chart - 8 visualization code

##### 1. Why did you pick the specific chart?

Answer Here.

##### 2. What is/are the insight(s) found from the chart?

Answer Here

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

Answer Here

#### Chart - 9

In [ ]:
# Chart - 9 visualization code

##### 1. Why did you pick the specific chart?

Answer Here.

##### 2. What is/are the insight(s) found from the chart?

Answer Here

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

Answer Here

#### Chart - 10

In [ ]:
# Chart - 10 visualization code

##### 1. Why did you pick the specific chart?

Answer Here.

##### 2. What is/are the insight(s) found from the chart?

Answer Here

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

Answer Here

#### Chart - 11

In [ ]:
# Chart - 11 visualization code

##### 1. Why did you pick the specific chart?

Answer Here.

##### 2. What is/are the insight(s) found from the chart?

Answer Here

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

Answer Here

#### Chart - 12

In [ ]:
# Chart - 12 visualization code

##### 1. Why did you pick the specific chart?

Answer Here.

##### 2. What is/are the insight(s) found from the chart?

Answer Here

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

Answer Here

#### Chart - 13

In [ ]:
# Chart - 13 visualization code

##### 1. Why did you pick the specific chart?

Answer Here.

##### 2. What is/are the insight(s) found from the chart?

Answer Here

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

Answer Here

#### Chart - 14 - Correlation Heatmap

In [ ]:
# Correlation Heatmap visualization code

##### 1. Why did you pick the specific chart?

Answer Here.

##### 2. What is/are the insight(s) found from the chart?

Answer Here

#### Chart - 15 - Pair Plot

In [ ]:
# Pair Plot visualization code

##### 1. Why did you pick the specific chart?

Answer Here.

##### 2. What is/are the insight(s) found from the chart?

Answer Here

## **5. Solution to Business Objective**

#### What do you suggest the client to achieve Business Objective ?
Explain Briefly.

Answer Here.

# **Conclusion**

Write the conclusion here.

### ***Hurrah! You have successfully completed your EDA Capstone Project !!!***